h3{
    color:#ee1414;
    text-align: center;
}
.img-header{
    width: 30px;
    height: 30px;
}
.navbar-brand img{
    height: 50px;
}
.navbar-brand  {
    padding:0px 0px;
}
.navbar .container{
    margin-left: 3px; 
}