h3{
    color:#ee1414;
    text-align: center;
}
.img-header{
    width: 30px;
    height: 30px;
}
.navbar-brand img{
    height: 50px;
}
.navbar-brand  {
    padding:0px 0px;
}
.navbar .container{
    margin-left: 3px; 
}

.k-textbox {
    width: 100% !important;
}

.k-dropdown {
    width: 100% !important;
}

textarea{
    resize: none;
}

.k-autocomplete.k-state-default, 
.k-dropdown-wrap.k-state-default, 
.k-numeric-wrap.k-state-default, 
.k-picker-wrap.k-state-default {
    background-color: #ffffff;
}